* {
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 769px) {
    body {
        background-color: #FFFFFF;
    }
    
    header {
        background-color: #FFFFFF;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #E8E8E8;
        padding: 3vh 3vw;
    }
    
    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-family: 'Nunito Sans', sans-serif;
        font-size: 20px;
        font-weight: 600;
        color: #2948FF;
    }
    
    nav img {
        width: 2vw;
        height: 4.5vh;
        padding: 0 1vw 0 0;
    }
    
    .profile {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        font-weight: 400;
        color: #4F5665;
    }
    
    .pp {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        margin: 0 2vw;
    }
    
    .pp img {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        object-fit: cover;
    }
    
    main {
        display: flex;
        flex-direction: row;
    }
    
    aside {
        padding: 3vh 1vw 3vh 3vw;
        width: 20%;
    }
    
    .option1 {
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: #2948FF;
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        font-weight: 400;
        color: #FFFFFF;
        border: 1px solid #2948FF;
        border-radius: 6px;
        margin: 2vh 0;
        padding: 1.5vh 1vw;
    }
    
    .option1 img, .option2 img, .option3 img {
        width: 2vw;
        height: 4.5vh;
        padding: 0 1vw 0 0;
    }
    
    .option2 {
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: #FFFFFF;
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        font-weight: 400;
        color: #4F5665;
        border: 1px solid #FFFFFF;
        border-radius: 6px;
        margin: 2vh 0;
        padding: 1.5vh 1vw;
    }
    
    .option3 {
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: #FFFFFF;
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        font-weight: 400;
        color: #D00000;
        border: 1px solid #FFFFFF;
        border-radius: 6px;
        margin: 2vh 0;
        padding: 1.5vh 1vw;
    }
    
    .transfer {
        width: 80%;
        padding: 7vh 3vw 10vh 3vw;
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: -0.6%;
        color: #0B132A;
        border-left: 1px solid #E8E8E8;
        z-index: 1;
    }
    
    .text1 {
        display: flex;
        align-items: center;
    }
    
    .text1 img {
        width: 2vw;
        height: 4vh;
        padding: 0 1vw 0 0;
    }
    
    .text2 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 6vh 1vw;
        width: 80%;
    }
    
    .text2-1, .text2-2, .text2-3 {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 30%;
        position: relative;
    }
    
    .text2-1::after, .text2-2::after {
        content:"";
        position: absolute;
        right:0;
        top: 50%;
        width:6vw;
        height:1vh;
        border-top: 1px dashed #4F5665;
    }
    
    .container1 {
        width: 2vw;
        height:4vh;
        border-radius: 50%;
        background-color: #2948FF;
        font-family: 'Montserrat', sans-serif;
        font-size: 12px;
        font-weight: 400;
        letter-spacing: -0.6%;
        color: #FFFFFF;
        margin: 0 0.5vw 0 0;
        display: flex;
        align-items: center;
        justify-content:center ;
    }
    
    .container2 {
        width: 24px;
        height:24px;
        border-radius: 50%;
        background-color: #4F5665;
        font-family: 'Montserrat', sans-serif;
        font-size: 12px;
        font-weight: 400;
        letter-spacing: -0.6%;
        color: #FFFFFF;
        margin: 0 0.5vw 0 0;
        display: flex;
        align-items: center;
        justify-content:center ;
        position: relative;
    }
    
    .line1 {
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: -0.6%;
        color: #2948FF;
    }
    
    .line2 {
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: -0.6%;
        color: #4F5665;
    }
    
    .container-transfer {
        border: 1px solid #E8E8E8;
        padding: 4vh 2vw;
    }
    
    .text3 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 0 6vh 0;
    }
    
    .text3-1 {
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: -0.6%;
        color: #0B132A;
    }
    
    .line3 {
        font-size: 12px;
        font-weight: 500;
        color: #4F5665;
        margin: 1vh 0;
    }
    
    #query {
        background-image: url(Search.png);
        background-repeat: no-repeat;
        background-position: 97% 50%;
        padding: 1.5vh;
        border: 1px solid #E8E8E8;
        border-radius: 6px;
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        font-weight: 500;
        color: #4F5665;
    }
    
    .container-log1 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 2vh 3vw 2vh 7vw;
        background-color: #F9FAFB;
    }
    
    .container-log2 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 2vh 3vw 2vh 7vw;
    }
    
    .container-imglog {
        border-radius: 4px;
        width: 3vw;
        height: 7vh;
    }
    
    .container-imglog img {
        border-radius: 4px;
        width: 3vw;
        height: 7vh;
        object-fit: cover;
    }
    
    .text4-1 {
        width: 70%;
        display: flex;
        flex-direction: row;
    }
    
    .line4 {
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        font-weight: 400;
        color: #4F5665;
        text-align: center;
        width: 50%
    }
    
    .line5 {
        font-family: 'Plus Jakarta Sans', sans-serif;
        font-size: 14px;
        font-weight: 400;
        color: #4F5665;
        text-align: center;
        width: 50%
    }

    .img {
        width: 24px;
        height: 24px;
    }

    .img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .dropdown {
        position: absolute;
        z-index: 2;
        top: 15%;
        left:78%;
        width: 15vw;
        height: 13vh;
        background-color: #FFFFFF;
        box-shadow: 0vh 0vh 4vh rgba(0,0,0,0.1);
        padding: 4vh 1.5vw;
        border-radius: 12px;
    }
    
    .dropdown1 {
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: #2948FF;
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: -0.6%;
        color: #FFFFFF;
        margin: 0 0 0.5vh 0;
        padding: 2vh 1vw;
        border-radius: 6px;
    }
    
    .dropdown1 img, .dropdown2 img {
        width: 1.3vw;
        height: 3vh;
        margin: 0 1vw 0 0;
    }
    
    .dropdown2 {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: -0.6%;
        color: #D00000;
        margin: 0.5vh 0 0 0;
        padding: 2vh 1vw;
        border-radius: 6px;
    }    
}

@media screen and (max-width: 769px) {
    body {
        background-color: #FFFFFF;
    }
    
    header {
        display: none;
    }
    
    main {
        display: flex;
        flex-direction: column;
    }
    
    aside {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 1vh 0;
        box-shadow: 0 0 4vh rgba(0,0,0,0.4);
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 1000;
    }
    
    .option1, .option2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #FFFFFF;
        font-family: 'Montserrat', sans-serif;
        font-size: 10px;
        font-weight: 400;
        letter-spacing: -0.24px;
        color: #4F5665;
        padding: 1vh 1vw;
        width: 20%;
    }
    
    .option1 img, .option2 img{
        width: 30%;
        height: 30%;
        object-fit: contain;
    }
    
    .option3 {
        display: none;
    }
    
    .transfer {
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: -0.6%;
        color: #FFFFFF;
        border-left: 1px solid #E8E8E8;
        order: -1;
    }
    
    .text1 {
        display: flex;
        align-items: center;
        background-color: #2948FF;
        padding: 3vh 4vw;
    }
    
    .text1 img {
        display: none;
    }
    
    .text2 {
        display: none;
    }
    
    .container-transfer {
        border: 1px solid #E8E8E8;
        padding: 2vh 4vw;
    }
    
    .text3 {
        display: flex;
        flex-direction: column;
    }
    
    .text3-1 {
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: -0.6%;
        color: #0B132A;
        padding: 2vh 0;
    }
    
    .line3 {
        display: none;
    }

    .text3 form {
        margin: 0 0 3vh 0;
    }
    
    #query {
        background-image: url(Search.png);
        background-repeat: no-repeat;
        background-position: 97% 50%;
        padding: 2vh 3vw;
        border: 1px solid #E8E8E8;
        border-radius: 6px;
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        font-weight: 500;
        color: #4F5665;
        width: 92%;
    }

    .text4 {
        padding-bottom: 10vh;
    }
    
    .container-log1 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 2vh 3vw;
        background-color: #F9FAFB;
    }
    
    .container-log2 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 2vh 3vw;
    }
    
    .container-imglog {
        border-radius: 4px;
        width: 48px;
        height: 48px;
    }
    
    .container-imglog img {
        border-radius: 4px;
        width: 48px;
        height: 48px;
        object-fit: cover;
    }
    
    .text4-1 {
        width: 50%;
        display: flex;
        flex-direction: column;
    }
    
    .line4 {
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        font-weight: 400;
        color: #4F5665;
        text-align: left;
        margin-bottom: 1vh;
    }
    
    .line5 {
        font-family: 'Plus Jakarta Sans', sans-serif;
        font-size: 14px;
        font-weight: 400;
        color: #4F5665;
        text-align: left;
    }

    .img {
        width: 16px;
        height: 16px;
    }

    .img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .dropdown {
        display: none;
    }

}